@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>



@if (!Model.Any())
{
    <text> We don't have any movies yet.</text>
}
else
{
    <table id="movies" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        @*following iteration isn't needed when getting data through ajax requests*@
        @*@foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new {id = movie.Id}, null)</td>
                <td>@movie.Genre.Name</td>
                <td>
                    <button data-movie-id="@movie.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }*@
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function() {

            //gets the entire dataset as markup (expensive for large data)
            //var table = $("#movies").DataTable();

            // following gets the dataset through api call
            var table = $("#movies").dataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    }
                ]

            });

            
        });
    </script>
}
